<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <h1>Orders</h1>
                <!-- <div id="editModal">
                    <app-edit-order-status  [currentOrder]="currentOrder"></app-edit-order-status>
                </div>  -->
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Products</th>
                            <th scope="col">Username</th>
                            <th scope="col">Date</th>
                            <th scope="col">TotalPrice</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of orders;">
                            <td>
                                
                                <div *ngFor="let p of item.Order.Products" >
                                    <!-- <div class="d-flex">
                                        <img width="150px" [src]=p.Product.Image alt="">
                                    </div> -->
                                    <div class="media-body">
                                        <h4 class="card-product__title"><a [routerLink]="['/Products/', p.Product._id]">{{p.Product.Name}}</a></h4>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h4>{{item.Order.User.Username}}</h4>
                            </td>
                            <td>
                                <h5>{{item.Order.Date}}</h5>
                            </td>
                            <td>
                                <h4>{{item.TotalPrice}} EGP</h4>
                            </td>
                            <td>
                                <!-- <button class="btn btn-info" (click)=ChangeCurrentStatus(item.Order) data-toggle="modal" data-target="#EditOrderModal"> -->
                                    <!-- <i class="ti-pencil"></i></button> -->
                                    <!-- <input id="toggle-one" type="checkbox"  data-toggle="toggle" data-on="Yes" data-off="No" >
                                    <toggle ng-model="toggleValue" ng-change="changed()" on="Enabled" off="Disabled"></toggle> -->
                                    <!-- <input type="checkbox" data-toggle="toggle" data-on="Enabled" data-off="Disabled">
                                    <toggle ng-model="toggleValue" ng-change="changed()" on="Enabled" off="Disabled"></toggle> -->
                                <input class="btn btn-success"  type="button" (click)="editOrderStatus(item.Order,'Accepted')"
                                value="Accepted">
                                    
                                </td>

                            <td>
                                <input class="btn btn-danger" type="button" (click)="editOrderStatus(item.Order,'Rejected')"
                                   value="Rejected">
                            </td>
                            <!-- (click)=delete(item.productId._id) -->
                           
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>