<section class="section-margin calc-60px">
    <div class="container">
        <div class="section-intro pb-60px">
            <p>Popular Item in the market</p>
            <h2>Trending <span class="section-intro__style">Product</span></h2>
        </div>
        <div class="row">

            <div class="col-md-6 col-lg-4 col-xl-3" *ngFor="let item of topSelling; index as i;">
                <div class="card text-center card-product">

                    <div class="card-product__img">

                        <img class="card-img" [src]=item.Image alt="" onerror="this.src='https:/www.chillinoodle.co.uk/media/catalog/product/cache/1/image/265x/9df78eab33525d08d6e5fb8d27136e95/placeholder/default/image.jpg';">
                        <ul class="card-product__imgOverlay">
                            <li><button (click)="goProductDetails(item._id)"><i class="ti-search"></i>
                                    <!--<a [routerLink]="['Products/', item._id]"></a>--></button></li>
                            <li><button (click)="addToCart(item._id)" *ngIf="authService.currentUser.Role=='User'"><i class="ti-shopping-cart"></i></button></li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <p>{{item.Category.CategoryName}}</p>
                        <h4 class="card-product__title">
                            <a *ngIf="authService.isLoggedIn" [routerLink]="['/Products/', item._id]">{{item.Name}}</a>
                            <a *ngIf="!authService.isLoggedIn" routerLink="/Login">{{item.Name}}</a>
                        </h4>
                        <p class="card-product__price">{{item.Price}} EGP</p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>