	<!-- ================ start banner area ================= -->	
	<section class="blog-banner-area" id="category">
		<div class="container h-100">
			<div class="blog-banner">
				<div class="text-center">
					<h1>Shopping Cart</h1>
					<nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
            </ol>
          </nav>
				</div>
			</div>
    </div>
	</section>
	<!-- ================ end banner area ================= -->
  
  

  <!--================Cart Area =================-->
  <section class="cart_area">
      <div class="container">
          <div class="cart_inner">
              <div class="table-responsive" >
                <!-- *ngIf="productsInShoppingCart.length!=0; else elseBlock" -->
                  <table class="table" *ngIf="productsInShoppingCart.length!=0; else elseBlock">
                      <thead>
                          <tr>
                              <th scope="col">Product</th>
                              <th scope="col">Price</th>
                              <th scope="col">Quantity</th>
                              <th scope="col">Total</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let item of productsInShoppingCart" >
                              <td>
                                  <div class="media" >
                                      <div class="d-flex">
                                          <img [src]="item.Product.Image" width="120em" height="120em" alt="" onerror="this.src='https:/www.chillinoodle.co.uk/media/catalog/product/cache/1/image/265x/9df78eab33525d08d6e5fb8d27136e95/placeholder/default/image.jpg';">
                                      </div>
                                      <div class="media-body">
                                          <p>{{item.Product.Name}}</p>
                                      </div>
                                  </div>
                              </td>
                              <td>
                                  <h5>{{item.Product.Price}} EGP</h5>
                              </td>
                              <td>
                                <div class="product_count">
                                    <input type="text" (maxlength)="12" [value]="item.Quantity" class="input-text qty">
                                     <!-- [value]="Quantity" -->
                                     <!-- [(ngModel)]="Quantity" -->
                                    <button  class="increase items-count" (click)="incrementQuantity(item.Product._id)">
                                        <i class="lnr lnr-chevron-up"></i></button>
                                    <button  class="reduced items-count" (click)="decrementQuantity(item.Product._id)">
                                      <i class="lnr lnr-chevron-down"></i></button> 
                                </div>
                              </td>
                              <td>
                                  <h5>{{item.Quantity*item.Product.Price}} EGP</h5>
                              </td> 
                              <td>
                                  <button class="btn btn-danger" (click)="removeProduct(item.Product._id)"><i class="fa fa-trash" ></i>
                                  </button>
                              </td>
                          </tr>
                          <tr>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                <h5>Subtotal</h5>
                            </td>
                            <td>
                                <h5>{{TotalPrice}} EGP</h5>
                            </td>
                        </tr>
                          <tr class="out_button_area">
                            <td class="d-none-l">

                            </td>
                            <td class="">

                            </td>
                            <td>

                            </td>
                            <td>
                                <div class="checkout_btn_inner d-flex align-items-center">
                                    <a class="gray_btn" [routerLink]="['/Shop/']">Continue Shopping</a>
                                    <a class="primary-btn ml-2" [routerLink]="['/Checkout/']" type="button">Proceed to checkout</a>
                                    <!-- (click)="proceedCheckout()"  -->
                                </div>
                            </td>
                        </tr>
                      </tbody>
                  </table>
                  <ng-template #elseBlock>
                      <h1 text="text-center">Your Shopping Cart is Empty</h1>
                      <a class="gray_btn" type="button" [routerLink]="['/Shop/']">Go Shopping</a>
                  </ng-template>
              </div>
              
          </div>
      </div>
  </section>
  <!--================End Cart Area =================-->

