<!--================Cart Area =================-->
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of ProductsInput; index as j;">
                            <td>
                                <div class="media">
                                    <div class="d-flex">
                                        <img width="150px" [src]=item.productId.Image alt="" onerror="this.src='https:/www.chillinoodle.co.uk/media/catalog/product/cache/1/image/265x/9df78eab33525d08d6e5fb8d27136e95/placeholder/default/image.jpg';">
                                    </div>
                                    <div class="media-body">
                                        <h4 class="card-product__title">{{item.productId.Name}}</h4>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <button class="btn btn-info" (click)=ChangeCurrentProduct(item.productId) data-toggle="modal" data-target="#EditProductModal">
                                    <i class="ti-pencil"></i></button>
                            </td>

                            <td>
                                <button class="btn btn-danger" (click)=delete(item.productId._id)><i class="ti-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!--================End Cart Area =================-->

