<!-- ================ start banner area ================= -->	
<section class="blog-banner-area" id="category">
    <div class="container h-100">
        <div class="blog-banner">
            <div class="text-center">
                <h1>Shop Category</h1>
                <nav aria-label="breadcrumb" class="banner-breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Shop Category</li>
        </ol>
      </nav>
            </div>
        </div>
</div>
</section>
<!-- ================ end banner area ================= -->














<!-- ================ category section start ================= -->		  
<section class="section-margin--small mb-5">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-5">
          <div class="sidebar-categories">
            <div class="head">Browse Categories</div>
            <ul class="main-categories">
              <li class="common-filter">
                <form action="#">
                  <ul>
                    <li  class="filter-list" *ngFor="let item of AllCategories; index as i;">
                        <input class="pixel-radio" [value] = item._id type="radio" id="item.CategoryName" 
                        name="brand" index = i (click)="changeCategory($event)" [checked]=" (SelectedCategory==item._id)" >
                        <label for="item.CategoryName">{{item.CategoryName}}<span> ({{item.Products.length}})</span>
                        </label>
                    </li>
                  </ul>
                </form>
              </li>
            </ul>
          </div>
          
        </div>
        <div class="col-xl-9 col-lg-8 col-md-7">
          <!-- Start Filter Bar -->
          <div class="filter-bar d-flex flex-wrap align-items-center">
            <div class="sorting">
              <select>
                <option value="1">Default sorting</option>
                <option value="1">Default sorting</option>
                <option value="1">Default sorting</option>
              </select>
            </div>
            <div class="sorting mr-auto">
              <select>
                <option value="1">Show 12</option>
                <option value="1">Show 12</option>
                <option value="1">Show 12</option>
              </select>
            </div>
            <div>
              <div class="input-group filter-bar-search">
                <input type="text" placeholder="Search">
                <div class="input-group-append">
                  <button type="button"><i class="ti-search"></i></button>
                </div>
              </div>
            </div>
          </div>
          <!-- End Filter Bar -->
          <!-- Start Best Seller -->
          <section class="lattest-product-area pb-40 category-list Items-List"
           *ngFor="let category of AllCategories; index as i;" [id]= category._id
           [attr.display]='category._id==SelectedCategory?"block":"none"'>
            <div class="row">


              <div class="col-md-6 col-lg-4" *ngFor="let item of category.Products; index as j;">
                <div class="card text-center card-product">
                  <div class="card-product__img">
                    <img class="card-img" [src]=item.productId.Image alt="">
                    <ul class="card-product__imgOverlay">
                      <li><button><i class="ti-search"></i></button></li>
                      <li><button><i class="ti-shopping-cart"></i></button></li>
                    </ul>
                  </div>
                  <div class="card-body">
                    <p>{{category.CategoryName}}</p>
                    <h4 class="card-product__title"><a href="#">{{item.productId.Name}}</a></h4>
                    <p class="card-product__price">{{item.productId.Price}} EGP</p>
                  </div>
                </div>
              </div>


            </div>
          </section>
          <!-- End Best Seller -->
        </div>
      </div>
    </div>
  </section>
	<!-- ================ category section end ================= -->
