<div #myDiv id="EditProductModal" class="modal fade" style="margin-top: 100px;" role="dialog" [ngClass]="{'show':ShowModal}">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Product Info</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">



                        <!------------- modal content start ------------->

                        {{currentProduct.Name}}
                        <!------------- modal content end ----------------->


                    </div>
                </div>

            </div>

        </div>
    </div>