<!-- <h1 class="text-center">Routing</h1>
<div class="container">
  <div class="row">
    <div class="col">
        <ul class="col">
          <li><a routerLinkActive="Active" routerLink="Home">Home</a></li>
          <li><a [routerLinkActiveOptions]='{exact:true}' routerLinkActive="Active" routerLink="Products/5e97839416ccc40d47afc1a5">ProductDetails</a></li>
        </ul>
    </div>
  </div> -->

<!--================ Start navbar Area =================-->

      
<app-user-navbar *ngIf="(!authService.currentUser || authService.currentUser.Role=='User');else elseBlock"></app-user-navbar>
<ng-template #elseBlock>
  <app-admin-navbar></app-admin-navbar>
</ng-template>
<!--================ End navbar Area =================-->

<!-- 
  <div class="row">
    <div class="col"> -->
<router-outlet>

</router-outlet>
<!-- </div>
  </div> -->

  <!--================ start footer Area  =================-->
<app-footer></app-footer>
<!--================ End footer Area  =================-->