<!--================Checkout Area =================-->

<section class="checkout_area section-margin--small">
    <div class="container">

        <div class="alert alert-success row col-12" *ngIf="isValid">
            Passed All Validations 
         </div>
        <div class="billing_details">
            <div class="row">
                <div class="col-lg-6">
                    <h3>Billing Details</h3>
                    <form class="row contact_form" [formGroup]="billingForm">
                        <div class="col-md-6 form-group p_star">
                            <input type="text" class="form-control" formControlName="FirstName" placeholder="FirstName">
                        </div>
                      
                        <div class="col-md-6 form-group p_star">
                            <input type="text" class="form-control" formControlName="LastName" placeholder="LastName">

                        </div>
                        <div class="col-md-5 form-group p_star alert alert-danger" id="fNameMessError"
                        *ngIf="FirstName.errors && (FirstName.dirty || FirstName.touched || isValidFormSubmitted)">

                           <div *ngIf="FirstName.errors?.required" class="text-left col-md-5 form-group p_star">
                               FirstName is required.
                           </div>


                           <div class="text-left col-md-6 form-group p_star" *ngIf="FirstName.errors?.pattern">
                               FirstName must contain alphabets only
                           </div>
                       </div>
                        <div class="col-md-6 form-group p_star  alert alert-danger" id="lNameMessError"
                        *ngIf="LastName.errors && (LastName.dirty || LastName.touched || isValidFormSubmitted)">
                            <div *ngIf="LastName.errors?.required" class="text-left col-md-5 form-group p_star">
                                LastName is required.
                            </div>


                            <div class="text-left col-md-5 form-group p_star" *ngIf="LastName.errors?.pattern">
                                LastName must contain alphabets only
                            </div>
                        </div>


                        <div class="col-12 form-group ">
                            <input type="text" class="form-control" formControlName="PhoneNumber"
                                placeholder="PhoneNumber">

                        </div>
                        <div class=" col-12 alert alert-danger"
                         *ngIf="PhoneNumber.errors && (PhoneNumber.dirty ||PhoneNumber.touched || isValidFormSubmitted)">
                            <div *ngIf="PhoneNumber.errors?.required" class="text-left col-md-6 form-group p_star">
                                PhoneNumber is required.
                            </div>


                            <div class="text-left col-12" *ngIf="PhoneNumber.errors?.pattern">
                                Invalid PhoneNumber Format:
                                <ul>
                                    <li>Must contain digits only</li>
                                    <li>Must start with 00201 folowed by any 9 digits only</li>
                                    <li>Must consist of 14 digits </li>
                                </ul>
                            </div>
                        </div>


                        <div class="col-md-12 form-group p_star">
                            <input type="text" class="form-control" formControlName="Street" placeholder="Street">
                        </div>
                        <div *ngIf="Street.errors && (Street.dirty ||Street.touched || isValidFormSubmitted)"
                            class=" col-12  alert alert-danger">
                            <div *ngIf="Street.errors?.required" class="text-left">
                                Street is required.
                            </div>


                            <div class="text-left" *ngIf="Street.errors?.pattern">
                                Invalid Street Format
                            </div>
                        </div>

                        <div class="col-md-12 form-group p_star">
                            <input type="text" class="form-control" formControlName="City" placeholder="Town/City">
                            <span class="placeholder" data-placeholder="Town/City"></span>
                        </div>
                        <div *ngIf="City.errors && (City.dirty ||City.touched || isValidFormSubmitted)"
                        class=" col-12  alert alert-danger">
                        <div *ngIf="City.errors?.required" class="text-left">
                            City is required.
                        </div>


                        <div class="text-left" *ngIf="City.errors?.pattern">
                            City must contain alphabets only
                        </div>
                    </div>

                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" formControlName="Zip" placeholder="Zip"
                                placeholder="Postcode/ZIP" maxlength="4" minlength="4">
                        </div>
                        <div *ngIf="Zip.errors && (Zip.dirty || Zip.touched || isValidFormSubmitted)"
                        class=" col-12  alert alert-danger">
                        <div *ngIf="Zip.errors?.required" class="text-left">
                            Zip Code  is required.
                        </div>

                        <div class="text-left" *ngIf="Zip.errors?.minlength ||Zip.errors?.maxlength">
                            Zip Code must consist of 4 digits 
                        </div>
                        <div class="text-left" *ngIf="Zip.errors?.pattern">
                            Invalid PhoneNumber Format:
                            <ul>
                                <li>Must contain digits only</li>
                                <li>Must consist of 4 digits </li>
                            </ul>
                        </div>
                    </div>

                        <div class="col-md-12 form-group mb-0">

                            <textarea class="form-control" name="message" id="message" rows="1"
                                placeholder="Order Notes"></textarea>
                        </div>
                    </form>
                </div>
                &nbsp;&nbsp;
                <div class="col-lg-5">
                    <div class="order_box">
                        <h2>Your Order</h2>
                        <ul class="list">

                            <li><a href="#">
                                    <h4>Product <span>Total</span></h4>
                                </a></li>
                            <li *ngFor="let item of productsInShoppingCart;">
                                <a [routerLink]="['/Products/', item.Product._id]">{{item.Product.Name}}
                                    <span>x{{item.Quantity}}</span>
                                    <span>{{item.Quantity*item.Product.Price}} EGP</span>
                                </a>

                            </li>

                        </ul>
                        <ul class="list list_2">
                            <li><a href="#">Subtotal <span>{{TotalPrice}} EGP</span></a></li>
                            <li><a href="#">Shipping <span>Free</span></a></li>
                            <li><a href="#">Total <span>{{TotalPrice}} EGP</span></a></li>
                        </ul>

                        <div class="creat_account">
                            <input type="checkbox" id="f-option4" [(ngModel)]="isCheckedAcceptTerms">
                            <label for="f-option4">I’ve read and accept the </label>
                            <a href="#"> terms & conditions*</a>
                            <div class="alert alert-danger" *ngIf="!isCheckedAcceptTerms && isValidFormSubmitted">
                                You must accept the terms to proceed 
                             </div>
                        </div>
                        <div class="text-center">
                            <a class="button button-paypal" type="button" (click)="confirmCheckout()">Confirm
                                Checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Checkout Area =================-->